.like-button {
    text-decoration: none; 
    color: gray; 
}
.sign-in{   
    color: black
}
  .bi-heart-fill {
    fill: grey; 
}

.follow-btn {
    text-decoration: none;
    color: gray;
}
.follow-btn:hover {
    text-decoration: underline;
    color: black;
}


.count {
    font-weight: bold;
    color: black;
}
.dropdown-button {
    background-color: transparent;
    border: none;
    color: #000; /* Колір тексту */
}

.comment-button{
    color: gray; 
    text-decoration: none; 
}

.comment-container {
    display: flex;
    align-items: flex-start; /* Вирівнювання вгору */
    margin-bottom: 10px;
  }
  
  .comment-text {
    margin-left: 10px;
  }
  
  .comment-text p {
    margin: 0; /* Видаляє внутрішній відступ параграфа */
  }
  
  
