{%extends 'main/base.html'%}
{%load static %}
{%block content %}
    <h1>Following</h1>
    <br>
    {%if profile.follows.all %}
        {%for following in profile.follows.all %}
            <div class="follower-container d-flex  mb-3">
                {% if following.profile_photo %}
                    <img src="{{ following.profile_photo.url }}" class="rounded-circle mr-3" width="50" height="50">
                {% else %}
                    <img src="{% static 'img/default_profile_pic.png'%}" class="rounded-circle mr-3" width="50" height="50">
                {% endif %} &nbsp;             
                <div class="follower-info">
                    <strong>{{ following.user.username|capfirst }}</strong> &nbsp;
                    {% if following in request.user.profile.follows.all %}
                        <a href="{% url 'unfollow' following.user.id%}"> <i class="fa-solid fa-user-minus"></i></a>
                    {% else %}
                        <a href="{% url 'follow' following.user.id%}"><i class="fa-solid fa-user-plus"></i></a> 
                    {% endif %}
                    <br>
                    <a href="{% url 'profile' following.user.pk %}" class="text-muted">@{{ following.user.username|lower }}</a>
                    <p>{{ following.bio }}</p>
                    
                </div>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
{%endblock%}