{%extends 'main/base.html'%}
{%load static %}
{%block content %}
    <br>
    {%if profiles %}
        {%for profile in profiles %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if profile.profile_photo%}
                    <img src="{{profile.profile_photo.url}}"  width="150" height="150">
                    {%else%}
                    <img src="{% static 'img/default_profile_pic.png'%}"  width="150" height="150">
                    {%endif%}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{profile.user.username}}</h5>
                        <a href="{% url 'profile' profile.user.id%}"><p class="card-text"><small class="text-body-secondary">@{{profile.user.username|lower}}</small></p></a>
                        <p class="card-text">{{profile.bio}}</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        {% endfor %}
    {% else %}
        <h1>No results for "{{search}}"</h1>
    {% endif %}
{%endblock%}