{% extends 'main/base.html'%} {% load static%}{%block content %} {% if profile %}

<div class="container">
    <div class="row">
        <div class="col-8">
            {% if profile.profile_photo%}
            <img src="{{profile.profile_photo.url}}" class="rounded-circle" width="150" height="150">
            {%else%}
            <img src="{% static 'img/default_profile_pic.png'%}" class="rounded-circle" width="150" height="150">
            {%endif%}
            <h1>{{profile.user.username|capfirst}}</h1> <br>
            <p>{{profile.bio}}</p> <br>
            {%if profile.youtube_link%}
            <a href="{{profile.youtube_link}}" target="_blank"><i class="fa-brands fa-youtube fa-2xl" style="color:grey;"></i></a>
              {%endif%}
              &nbsp;
            {%if profile.insta_link%}
            <a target="_blank" href="{{profile.insta_link}}" ><i class="fa-brands fa-instagram fa-2xl" style="color:grey;"></i></a>
              {%endif%}
              <br> <br>
            <p>
                <a class="follow-btn" href="{% url 'profile_following' profile.user.id %}">
                    <span class="count">{{ profile.count_follows }}</span> Following
                </a> &nbsp;
                <a class="follow-btn" href="{% url 'profile_followers' profile.user.id %}">
                    <span class="count">{{ profile.count_followers }}</span> Followers
                </a> 
            </p>
            <h2 class="text-center">Posts</h2>
            {% if tweets %}
                {% for tweet in tweets%}
                    {%if profile.profile_photo%}              
                        <img src="{{ profile.profile_photo.url }}" class="rounded-circle mr-3"  width="50" height="50">
                    {%else%}
                        <img src="{% static 'img/default_profile_pic.png'%}" class="rounded-circle mr-3"  width="50" height="50">
                    {%endif%}              
                    <strong>{{tweet.title}}</strong> · {{tweet.time_ago}} <br>
                    {% if request.user.username == profile.user.username%}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle dropdown-button  ml-auto" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                          ...
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li><a class="dropdown-item" href="{% url 'delete_tweet' tweet.id%}"><i class="fa-solid fa-trash"></i> Delete</a></li>
                          <li><a class="dropdown-item" href="{% url 'edit_tweet' tweet.id%}"><i class="fa-regular fa-pen-to-square"></i> Edit</a></li>
                        </ul>
                      </div>
                      {% endif %}
                    <p>{{tweet.content}}</p>
                    {% if request.user in tweet.likes.all%}
                        <a class="like-button" href="{% url 'like_post' tweet.pk %}"><i class="fa-solid fa-heart" style="color:red"></i> {{tweet.count_likes }} </a>
                    {%else%}
                        <a class="like-button" href="{% url 'like_post' tweet.pk %}"> <i class="fa-regular fa-heart" style="color:red"></i> {{tweet.count_likes }} </a>
                    {%endif%} &nbsp;
                    <a class="comment-button" href="{% url 'comment' tweet.pk %}"> <i class="fa-solid fa-comment"></i> {{tweet.comments.count}} </a>
                    <hr>
                {% endfor %}
            {% endif %}        
        </div>

        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Follows</h5>
                <div class="card-body">
                    <p class="card-text">
                    {% for following in profile.follows.all %}
                    <a href="{% url 'profile' following.user.id%}">@{{following}}</a> &nbsp;
                    <a href="{% url 'unfollow' following.user.pk %}"><i class="fa-solid fa-user-minus" style="color:grey;"></i></a>
                    <br />
                    {%endfor%}
                    <br />
                    </p>
                </div>
            </div>    
            <br>
            <div class="card">
                <h5 class="card-header">Followed By</h5>
                <div class="card-body">
                    <p class="card-text">
                    {% for following in profile.followed_by.all %}
                    <a href="{% url 'profile' following.user.id%}">@{{following}}</a>
                    <br />
                    {%endfor%}
                    <br />
                    </p>
                </div>
            </div>  
            <br>
            <form method="post">
                {%csrf_token%}
                {% if profile in user.profile.follows.all %}
                <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">Unfollow {{profile.user.username }}</button>
                {%else%}
                <button class="btn btn-outline-primary" name="follow" value="follow" type="submit">Follow {{profile.user.username }}</button>
                
                {% endif%}
            </form>
            <br>
            {% if request.user.id == profile.user.id %}
                <a href="{% url 'update_user'%}" class="btn btn-outline-secondary"> Update Profile</a>
            {% endif%}
        </div>
    </div>
</div>

{%endif%} {% endblock %}
